// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
//@import '~bootstrap/scss/bootstrap';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,body {
    height:100%;
}

.hidden {
    display: none;
}

#dropzone {
    flex: 1;
}

.highlighted {
    background: burlywood;
}

.file .folder-icon {
    display: none;
}

.folder .file-icon {
    display: none;
}

.file-icon, .folder-icon {
    z-index: -1;
}

.up-icon {
    width: 25px;
    transform: rotateX(-180deg) rotateY(0deg) rotate(-90deg);
}
